body {
    padding: 40px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

a {
    color: inherit;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

p{
    margin-top: 0px;
    margin-bottom: 10px;
}

#webcam, #picture {
    border: 0px;
    margin: 20px 20px 0px 0px;
}

#caption {
    text-align: center;
    margin: 20px;
}

#tags {
    text-align: left;
    margin: 0 auto;
    display: none;
}

th, td {
    padding: 2px 6px;
}
